@charset "UTF-8";

/* 回答はここに書いてね */

.balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}



.balloon::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #222;

}


.balloon::after {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #FFF;
}










/* 回答はここに書いてね */
