@charset "UTF-8";

/* 回答はここに書いてね */

.content {
  margin: auto;
  position: relative;
  height: 500px;
  width: 500px;
  background-color: #ecf1f2;
}

.color-box {
  position: absolute;
  width: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
}

.color-box.one {
  background-color: #ffefd3;
  top:40px;
  left: 200px;
  z-index: 1;
}

.color-box.two {
  background-color: #7084de;
  top:120px;
  left: 280px;
  z-index: 2;
}

.color-box.three {
  background-color: #d0ecea;
  top:200px;
  left: 360px;
  z-index: 3;
}

.color-box.four {
  background-color: #8b7a5e;
  top:280px;
  left: 280px;
  z-index: 4;
}

.color-box.five {
  background-color: #9fd6d2;
  top:360px;
  left: 200px;
  z-index: 5;
}

.color-box.six {
  background-color: #fffee4;
  top:280px;
  left: 120px;
  z-index: 6;
}

.color-box.seven {
  background-color: #deae70;
  top:200px;
  left: 40px;
  z-index: 7;
}

.color-box.eight {
  background-color: #de70cf;
  top:120px;
  left: 120px;
  z-index: 8;
}

.color-box.eight:after {
  position: absolute;
  background-color: #ffefd3;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  content: "";
}

.color-box.nine {
  background-color: #2b69a3;
  top:10px;
  left: 10px;
  position: fixed;
}

/* 回答はここに書いてね */
