@charset "UTF-8";

/* 回答はここに書いてね */



.text-align-box {
 text-align: center;

}


.ptext {
  display: inline-block;
  text-align: center;
  background-color: #e6f2ff;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px; 
  
  
}

.pmargin {
  background-color: #e6f2ff;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin: auto;
}













/* 回答はここに書いてね */
