@charset "UTF-8";

/* 回答はここに書いてね */



.text-align-box {
 text-align: center;
}

.ptext {
  display: inline-block;
  text-align: center;
  background-color: #e6f2ff;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px; 
}

.pmargin {
  background-color: #e6f2ff;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin: auto;
}






.q6--around.table-box {
  display: table;
}

.text-table-box {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
}

.text-table {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}






.q6--around.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-flex {
  background-color: #fff;
  padding: 10px;
  display: inline-block;

}

.text-flex-box {
  display: flex;

}



.q6__box.is-stable {
  position: relative;
}


.q6__box__inner.position-box {
  margin: auto;
  position:absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}


.q6__box.is-flexible.transform-parent {
  position: relative;
}


.q6__box__inner.transform-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}













/* 回答はここに書いてね */
